/*Typed theme plugin*/

.typed-cursor{display: none;}

.typed-element:after {visibility: visible;content: '';background-color: #ffffff;display: inline-block;position: relative;width: 4px;height: 50px;top: 0px;margin-left: 0;-webkit-animation: blink 0.7s infinite;-moz-animation: blink 0.7s infinite;animation: blink 0.7s infinite;}@keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}@-webkit-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}@-moz-keyframes blink{0% { opacity:1; }50% { opacity:0; }100% { opacity:1; }}}